.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.navigation-links-navlink:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-navlink1 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-navlink2 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-navlink2:hover {
  color: var(--dl-color-scheme-brown);
}








.navigation-links-root-class-name8 {
  margin-right: var(--dl-space-space-threeunits);
}

.navigation-links-root-class-name17 {
  margin-right: var(--dl-space-space-threeunits);
}
@media(max-width: 991px) {
  .navigation-links-root-class-name8 {
    margin-left: var(--dl-space-space-sixunits);
  }
  .navigation-links-root-class-name17 {
    margin-left: var(--dl-space-space-sixunits);
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-root-class-name8 {
    display: none;
  }
  .navigation-links-root-class-name17 {
    display: none;
  }
}

.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
}
.navigation-max-width {
  width: 50%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navigation-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.navigation-burger-menu {
  display: none;
}
.navigation-icon {
  fill: var(--dl-color-scheme-darkblue);
  width: 24px;
  height: 24px;
  display: flex;
}
.navigation-nav {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.navigation-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navigation-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-icon2 {
  width: 24px;
  height: 24px;
}
.navigation-root-class-name {
  background-color: #e0e0e0;
}
@media(max-width: 991px) {
  .navigation-max-width {
    display: none;
  }
  .navigation-burger-menu {
    display: flex;
  }
}
@media(max-width: 767px) {
  .navigation-max-width {
    width: 56px;
    display: flex;
    padding: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-max-width {
    width: 53px;
    display: flex;
  }
}

.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://cdn.stoopidcatstudios.com/apps/files_sharing/publicpreview/rbmxRYJkWaJKj3r?file=/&fileId=3679&x=1920&y=1080&a=true');
}
.home-hero {
  position: relative;
  padding-top: 128px;
  background-color: rgba(217, 217, 217, 0.3);
}
.home-max-width {
  margin-top: var(--dl-space-space-threeunits);
}
.home-heading-container {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text01 {
  color: var(--dl-color-scheme-black);
  font-size: 18px;
  text-align: center;
  line-height: 1.44;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-gallery {
  width: 100%;
  display: flex;
  grid-gap: 20px;
  align-items: stretch;
}
.home-container1 {
  width: 25%;
  align-self: stretch;
}
.home-image {
  width: 100%;
  height: 492px;
  object-fit: cover;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-container2 {
  width: 25%;
  display: flex;
  grid-gap: 20px;
  align-items: stretch;
  flex-direction: column;
}
.home-image1 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-container3 {
  width: 50%;
  display: flex;
  grid-gap: 20px;
  flex-direction: column;
}
.home-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-container4 {
  width: 100%;
  display: flex;
  grid-gap: 20px;
}
.home-image4 {
  flex: 1;
  width: var(--dl-size-size-small);
  height: auto;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-image5 {
  flex: 1;
  width: var(--dl-size-size-small);
  height: auto;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-banner {
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-scheme-darkblue);
}
.home-max-width1 {
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text02 {
  color: var(--dl-color-scheme-white);
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.home-text03 {
  text-transform: capitalize;
}
.home-text04 {
  text-transform: lowercase;
}
.home-text05 {
  color: rgb(29, 158, 0);
  font-size: 50px;
  font-style: normal;
  text-align: center;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 63px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;
}
.home-text06 {
  color: #2d2d2d;
  font-size: 25px;
  align-self: center;
  font-style: normal;
  margin-top: 0px;
  text-align: center;
  font-family: Fira Sans;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-primary {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-footer {
  background-color: rgba(217, 217, 217, 0.3);
}
.home-text12 {
  align-self: center;
}
.home-text15 {
  font-weight: 700;
}
.home-text17 {
  font-weight: 700;
}
.home-text18 {
  font-style: normal;
  font-weight: 400;
}
.home-link {
  font-weight: 700;
  text-decoration: underline;
}
@media(max-width: 1200px) {
  .home-image {
    width: 100%;
    height: 480px;
    border-color: var(--dl-color-scheme-darkblue);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius8);
  }
  .home-text14 {
    font-style: normal;
    font-weight: 700;
  }
  .home-text15 {
    font-weight: 700;
  }
  .home-text17 {
    font-weight: 700;
  }
  .home-text18 {
    font-weight: 700;
  }
  .home-link {
    font-weight: 700;
  }
}
@media(max-width: 991px) {
  .home-heading-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .home-gallery {
    flex-direction: column;
  }
  .home-container1 {
    width: 100%;
  }
  .home-container2 {
    width: 100%;
    flex-direction: row;
  }
  .home-container3 {
    width: 100%;
    align-items: stretch;
  }
}
@media(max-width: 767px) {
  .home-text {
    font-size: 48px;
  }
  .home-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .home-image1 {
    height: 100%;
  }
  .home-container4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .home-image4 {
    width: 100%;
  }
  .home-image5 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .home-text12 {
    text-align: center;
  }
}
