<div>
  <link href="./navigation.css" rel="stylesheet" />
  <header data-role="Header" class="navigation-header">
    <h1><span>Stoopid Cat Studios</span></h1>
    <div class="navigation-max-width">
      <div class="navigation-container">
        <div data-role="BurgerMenu" class="navigation-burger-menu">
          <svg viewBox="0 0 1024 1024" class="navigation-icon">
            <path
              d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
            ></path>
          </svg>
        </div>
      </div>
      <div data-role="MobileMenu" class="mobile-menu">
        <div class="navigation-nav">
          <div class="navigation-container1">
            <div
              data-role="CloseMobileMenu"
              class="navigation-close-mobile-menu"
            >
              <svg viewBox="0 0 1024 1024" class="navigation-icon2">
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path>
              </svg>
            </div>
          </div>
          <nav class="navigation-links-nav navigation-links-root-class-name18">
            <a
              href="home.html"
              class="navigation-links-navlink Navigation-Link"
            >
              <span>Home</span>
            </a>
            <a
              href="prices.html"
              class="navigation-links-navlink1 Navigation-Link"
            >
              <span>Prices</span>
            </a>
            <a
              href="portfolio.html"
              class="navigation-links-navlink2 Navigation-Link"
            >
              <span>Portofolio</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
    <nav class="navigation-links-nav navigation-links-root-class-name17">
      <a href="home.html" class="navigation-links-navlink Navigation-Link">
        <span>Home</span>
      </a>
      <a href="prices.html" class="navigation-links-navlink1 Navigation-Link">
        <span>Prices</span>
      </a>
      <a
        href="portfolio.html"
        class="navigation-links-navlink2 Navigation-Link"
      >
        <span>Portofolio</span>
      </a>
    </nav>
  </header>
</div>
